<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jutil.coreservice.admin.dao.AccountMapper">

	<update id="updateOne">
		UPDATE adm_account SET
		<if test="entity.operatorId != null">operator_id=#{entity.operatorId},</if>
		<if test="entity.code != null and entity.code != ''">code=#{entity.code},</if>
		<if test="entity.name != null and entity.name != ''">name=#{entity.name},</if>
		<if test="entity.status != null">status=#{entity.status},</if>
		<if test="entity.imageUrl != null and entity.imageUrl">image_url=#{entity.imageUrl},</if>
		<if test="entity.remarks != null and entity.remarks != ''">remarks=#{entity.remarks},</if>
			update_time=now()
		WHERE id=#{entity.id} AND tenant_id=#{entity.tenantId}
	</update>

	<delete id="deleteOne">
		DELETE FROM adm_account WHERE id=#{id} AND tenant_id=#{tenantId}
	</delete>

	<delete id="deleteList">
		DELETE FROM adm_account
		<where>
			<foreach collection="idList" item="item" open="id in (" separator="," close=")">
				#{item}
			</foreach>
			AND tenant_id=#{tenantId}
		</where>
	</delete>

	<select id="selectOne" resultMap="accountMap">
		SELECT * FROM adm_account WHERE id=#{id} AND tenant_id=#{tenantId}
	</select>

	<select id="selectList" resultMap="accountMap">
		SELECT * FROM adm_account
		<where>
			<foreach collection="idList" item="item" open="id in (" separator="," close=")">
				#{item}
			</foreach>
			AND tenant_id=#{tenantId}
		</where>
	</select>

	<select id="countPage" resultType="_int">
		SELECT COUNT(*) FROM adm_account e
		<include refid="pageJoin" />
		<where>
			<include refid="pageCond" />
		</where>
	</select>

	<sql id="pageJoin">
		<if test="search.tenantId > 0">
			INNER JOIN adm_account_tenant et ON e.id=et.account_id
		</if>
	</sql>

	<sql id="pageCond">
		<if test="search.tenantId > 0">
			AND et.tenant_id = #{search.tenantId}
		</if>
		<if test="search.operatorId > 0">
			AND e.operator_id = #{search.operatorId}
		</if>
		<if test="search.status != null">
			AND e.status = #{search.status}
		</if>
		<if test="search.code != null and !search.code.isEmpty()">
			AND e.code LIKE CONCAT('%', #{search.code}, '%')
		</if>
		<if test="search.name != null and !search.name.isEmpty()">
			AND e.name LIKE CONCAT('%', #{search.name}, '%')
		</if>
		<if test="search.idList != null and !search.idList.isEmpty()">
			AND
			<foreach collection="search.idList" item="item" open="e.id in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>

	<select id="listPage" resultMap="accountMap">
		SELECT e.* FROM adm_account e
		<include refid="pageJoin" />
		<where>
			<include refid="pageCond" />
		</where>
		${pageable.orderBy}
		LIMIT #{pageable.size} OFFSET #{pageable.offset}
	</select>

	<resultMap id="accountMap" type="io.jutil.coreservice.admin.entity.Account">
		<id property="id" column="id" />
		<result property="tenantId" column="tenant_id" />
		<result property="operatorId" column="operator_id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="status" column="status" />
		<result property="imageUrl" column="image_url" />
		<result property="remarks" column="remarks" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

</mapper>