<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jutil.coreservice.admin.dao.TenantMapper">

	<update id="updateOne">
		UPDATE adm_tenant SET
		<if test="entity.operatorId > 0">operator_id=#{entity.operatorId},</if>
		<if test="entity.code != null and entity.code != ''">code=#{entity.code},</if>
		<if test="entity.name != null and entity.name != ''">name=#{entity.name},</if>
		<if test="entity.status != null">status=#{entity.status},</if>
		<if test="entity.remarks != null and entity.remarks != ''">remarks=#{entity.remarks},</if>
			update_time=now()
		WHERE id=#{entity.id}
	</update>

	<delete id="deleteOne">
		DELETE FROM adm_tenant WHERE id=#{id}
	</delete>

	<delete id="deleteList">
		DELETE FROM adm_tenant
		<where>
			<foreach collection="idList" item="item" open="id in (" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>

	<select id="selectOne" resultMap="tenantMap">
		SELECT * FROM adm_tenant WHERE id=#{id}
	</select>

	<select id="selectList" resultMap="tenantMap">
		SELECT * FROM adm_tenant
		<where>
			<foreach collection="idList" item="item" open="id in (" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>

	<select id="countPage" resultType="_int">
		SELECT COUNT(*) FROM adm_tenant e
		<where>
			<include refid="pageCond" />
		</where>
	</select>

	<sql id="pageCond">
		<if test="search.status != null">
			AND e.status = #{search.status}
		</if>
		<if test="search.code != null and !search.code.isEmpty()">
			AND e.code LIKE CONCAT('%', #{search.code}, '%')
		</if>
		<if test="search.name != null and !search.name.isEmpty()">
			AND e.name LIKE CONCAT('%', #{search.name}, '%')
		</if>
		<if test="search.idList != null and !search.idList.isEmpty()">
			AND
			<foreach collection="search.idList" item="item" open="e.id in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>

	<select id="listPage" resultMap="tenantMap">
		SELECT e.* FROM adm_tenant e
		<where>
			<include refid="pageCond" />
		</where>
		${pageable.orderBy}
		LIMIT #{pageable.size} OFFSET #{pageable.offset}
	</select>

	<resultMap id="tenantMap" type="io.jutil.coreservice.admin.entity.Tenant">
		<id property="id" column="id" />
		<result property="operatorId" column="operator_id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="status" column="status" />
		<result property="remarks" column="remarks" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

</mapper>