<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jutil.coreservice.auth.dao.UserMapper">

	<update id="updateOne">
		UPDATE auth_user SET
		<if test="entity.code != null and entity.code != ''">code=#{entity.code},</if>
		<if test="entity.name != null and entity.name != ''">name=#{entity.name},</if>
		<if test="entity.password != null and entity.password != ''">password=#{entity.password},</if>
		<if test="entity.status != null">status=#{entity.status},</if>
		<if test="entity.extension != null">extension=#{entity.extension},</if>
		<if test="entity.ip != null and entity.ip != ''">ip=#{entity.ip},</if>
		<if test="entity.remarks != null and entity.remarks != ''">remarks=#{entity.remarks},</if>
		<if test="entity.loginTime != null">login_time=#{entity.loginTime},</if>
			update_time=now()
		WHERE id=#{entity.id}
	</update>

	<delete id="deleteOne">
		DELETE FROM auth_user WHERE id=#{id}
	</delete>

	<delete id="deleteList">
		DELETE FROM auth_user
		<where>
			<foreach collection="idList" item="item" open="id in (" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>

	<select id="selectOne" resultMap="userMap">
		SELECT * FROM auth_user WHERE id=#{id}
	</select>

	<select id="selectList" resultMap="userMap">
		SELECT * FROM auth_user
		<where>
			<foreach collection="idList" item="item" open="id in (" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>

	<select id="login" resultMap="userMap">
		SELECT * FROM auth_user
		WHERE status=0 AND realm=#{realm} AND code=#{code} AND password=#{password}
	</select>

	<select id="countPage" resultType="_int">
		SELECT COUNT(*) FROM auth_user e
		<where>
			<include refid="pageCond" />
		</where>
	</select>

	<sql id="pageCond">
		<if test="search.realm != null">
			AND e.realm = #{search.realm}
		</if>
		<if test="search.status != null">
			AND e.status = #{search.status}
		</if>
		<if test="search.code != null and !search.code.isEmpty()">
			AND e.code LIKE CONCAT('%', #{search.code}, '%')
		</if>
		<if test="search.name != null and !search.name.isEmpty()">
			AND e.name LIKE CONCAT('%', #{search.name}, '%')
		</if>
		<if test="search.idList != null and !search.idList.isEmpty()">
			AND
			<foreach collection="search.idList" item="item" open="e.id in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>

	<select id="listPage" resultMap="userMap">
		SELECT e.* FROM auth_user e
		<where>
			<include refid="pageCond" />
		</where>
		${pageable.orderBy}
		LIMIT #{pageable.size} OFFSET #{pageable.offset}
	</select>

	<resultMap id="userMap" type="io.jutil.coreservice.auth.entity.User">
		<id property="id" column="id" />
		<result property="realm" column="realm" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="status" column="status" />
		<result property="remarks" column="remarks" />
		<result property="extension" column="extension" />
		<result property="ip" column="ip" />
		<result property="loginTime" column="login_time" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

</mapper>